body{
    background-color: #E4E9FD;
    font-family: 'helvetica neue';
}
.title{
    position: relative;
    background-color: antiquewhite;
    text-align: center;
    height: 100px;
    text-size-adjust: larger;
}

.title > h1{
    position: absolute;
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    
}


.content{
    
    color: red;
    margin: 0;
    width: 100%;
   
}

.content > h1{
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.content > h2{
    color: rgb(16, 112, 8);
}

@media screen and (max-width : 800px){
    .content{
        margin-top: 100px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 25px;
        height: 60vh;
    }

    .btn{
        margin-top: 250px;
    }

    footer{
        display: flex;
        align-items: flex-end;

    }

    .btn:hover{
        color: white;
    }
}